<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">KİTAP MAĞAZASI</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        
      {{#if isIndex}}
      <li class="active"<a href="/">KİTAP</a> </li>
      {{else}}
      <li> <a href="/">KİTAP</a></li>
      {{/if}}

      {{#if isLibrary}}
      <li><a href="/library">KIRTASİYE</a></li>
      {{else}}
      <li><a href="/library">KIRTASİYE</a></li>
      {{/if}}

      {{#if isTechnology}}
      <li><a href="/technology">TEKNOLOJİ</a></li>
      {{else}}
      <li><a href="/technology">TEKNOLOJİ</a></li>
      {{/if}}

      {{#if isToy}}
      <li><a href="/toy">OYUNCAK</a></li>
      {{else}}
      <li><a href="/toy">OYUNCAK</a></li>
      {{/if}}

      {{#if isElectronic}}
      <li><a href="/electronic">ELEKTRONİK</a></li>
      {{else}}
      <li><a href="/electronic">ELEKTRONİK</a></li>
      {{/if}}

      </ul>
    </div>
  </nav>